@use "variables" as v;

footer {
    background-color: v.$fondoHeaderFooter;
    @extend %f-column;
    padding: 15px;
    gap: 10px;
    margin: 10px 0 0 0;

    a {
        text-decoration: none;

        img {
            width: 2.2rem;
            height: auto;
            border-radius: 50%;
            margin: 0 10px;
            @extend %expandir;
        }
    }
    p{
        font-style: italic;
        text-align: center;
    }
}